<form (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sign Up</mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <label for="userName">Username</label>
                        <input type="text" class="form-control" name="userName" [(ngModel)]="user.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" name="password" [(ngModel)]="user.password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="repassword">Re Enter Password</label>
                        <input type="text" class="form-control" name="repassword" [(ngModel)]="user.repassword">
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Cancel</button>
            <button color="primary" mat-raised-button>Save </button>
        </mat-card-actions>
    </mat-card>
</form>